<!-- <div class="container-fluid bg-primary"> -->
<!--Empresa-->
    <!-- <div class="control-header-logo-name-general d-flex"> -->

        <!--Logo-->
            <!-- <div class="img-logo-header-div p-1">
                <img src="assets/img/Logo.jpeg" class="img-header-logo rounded-circle">
            </div> -->
        <!--Name-->
            <!-- <div class="img-text-title-header-div pt-3 pb-2">
                <span class="text-light fs-2 text-header-logo">TecMex Laredo</span>
            </div> -->

        <!--Navbar-->
        <!-- <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid nav-general-header">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse control-general-navbar-a" id="navbarNav">
                <ul class="navbar-nav mt-2 mx-auto">
                  <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-light" href="#">Contactos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-light" href="#">Sobre Nosotros</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-light" href="#" tabindex="-1" aria-disabled="true">Iniciar Sesion</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </div>
</div> -->


<nav class="navbar bg-light fixed-top navbar-expand-xl bg-light">
  <div class="container-fluid">
    <a class="navbar-brand d-flex" href="#">
      <div class=" container container-lg d-flex flex-row">
        <img src="/assets/img/Logo.jpg" alt=""  class="d-inline-block align-text-top rounded-circle  logo-header-img">
        <p class="mt-sm-4">TecMex Laredo</p> 
      </div>
      <!-- <div class="img-logo-header-flex mt-2" >
      </div> -->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <button class=" btn btn-outline-info nav-link d-flex flex-row">
              <div class="img-button-login">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                  <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                </svg> 
              </div>
                    <div class="button-text-login ms-1 mt-1">
                      <p class="text-button-login-p">Iniciar Sesion</p>
                    </div>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>