


.text-color-palette-general{

    color: #F2EFEA;
}

.img-header-logo{

    width: 4rem;
    height: 4rem;

}

.navbar-top{

    height: 3.625rem;
}

.btn-navbar-design{

    background-color: transparent;
    border-color: transparent;
    color:#66D7D1;
}

.logo-header-img{

    width: 12%;
}

.text-button-login-p{

    font-size: 0.9rem;
}
