<div class="container-fluid mt-4">
    <div class="row bg-primary">
        <div class="col-lg-6 pt-2">
            <h5 class="text-light fw-bolder ms-4">TechMex</h5>
            <div class="container-links-content">
                <ul class="list-style-links">
                    <li class="mb-2">
                        <a href="#" class="text-light"> Sobre Nosotros</a>
                    </li>
                    <li class="mb-2">
                        <a href="#" class="text-light"> Comunidad</a>
                    </li>
                    <li class="mb-2">
                        <a href="#" class="text-light"> ¿Que Ofrecemos?</a>
                    </li>
                    <li class="mb-2">
                        <a href="#" class="text-light">Certificados Profesionales</a>
                    </li>
                </ul>
                <p class="text-light font-ubuntu ms-4"> &#64;2024 TechMex Laredo. Todos los Derechos Reservados </p>
            </div>
        </div>
    </div>
</div>