.text-navbar-a{
    font-family: 'Ubuntu';
}

.text-navbar-a-main{

    font-family: 'Ubuntu-Bold';
}

.navbar-background-general{

    background-color: var(--color_melocoton);
}

.font-color-navbar{

    color:var(--color_negrogris)
}

