/* You can add global styles to this file, and also import other style files */
:root{

--color_azul:#124076;
--color_verdeblanco:#7F9F80;
--color_verdesuave:#9a8c29;
--color_gris:#423431;
--color_melocoton: #FFDAB9;
--color_negrogris: #333333; 
--color_morado: #240047;
}






@font-face {
    font-family: 'Ubuntu';
    src: url(/assets/fonts/Ubuntu/Ubuntu-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Ubuntu-Bold';
    src: url(/assets/fonts/Ubuntu/Ubuntu-Bold.ttf);
}

@font-face{
    font-family: 'ShadowLight';
    src:url(/assets/fonts/Ubuntu/ShadowsIntoLight-Regular.ttf)

}

@font-face{

    font-family: 'Market-Style';
    src: url(/assets/fonts/Ubuntu/PermanentMarker-Regular.ttf);
}

@font-face{
    font-family: 'Chilanka';
    src: url(/assets/fonts/Ubuntu/Chilanka-Regular.ttf);
}