<!--*Presentation Of the Course-->

<div class="container-fluid bg-dark p-4">
    <div class="row">
        <div class="col-lg-6 mt-4">
            <h4 class="text-light font-ubuntu-bold pt-3"> Nombre del Curso</h4>
            <p class="text-light  font-ubuntu-normal"> Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Voluptate tempore
                cupiditate, officiis odit, ea corrupti voluptas possimus iure labore fugit hic corporis quam esse
                assumenda quia aspernatur veniam aut enim?</p>

            <div class="container-stars-califications text-center  mb-2">

                <span class="text-light me-1" id="calification-star">0.0</span>
                <span class="span-start-container" id="star1">★</span>

                <span class="span-start-container" id="star2">★</span>

                <span class="span-start-container" id="star3">★</span>

                <span class="span-start-container" id="star4">★</span>

                <span class="span-start-container" id="star5">★</span>
            </div>

            <div class="container-information ">

                <p class="text-color-information-main ms-3">Creado por:
                    <span id="name_autor" class="text-light">Name</span>
                </p>

                <p class="text-color-information-main ms-3">Ultima Actualizacion:
                    <span id="date-actualization" class="text-light">Date</span>
                </p>

                <p class="text-color-information-main ms-3">Numero de Alumnos inscritos:
                    <span class="text-light">0</span>
                </p>

                <p class="text-color-information-main ms-3">Idioma:
                    <span class="text-light">Español</span>
                </p>

            </div>

        </div>


        <div class="col-lg-6 container-video-main">
            <video class="container-video-introduction" poster="/assets/img/HTML.jpg" controls autoplay muted>
                <source id="video_course_introduction" src="/assets/img/HTML_course.mp4" type="video/mp4">

            </video>
        </div>


    </div>
</div>

<!--*Information of the Course-->

<div class="container-lg">
    <div class="row">
        <div class="col-lg-6 col-md-5 mt-2">
            <div class="container-md container-table-content rounded-3 p-3">
                <h5 class="text-primary font-ubuntu-bold">¿Que Aprenderas del Curso?</h5>

                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-form-correct">
                            <li> Pon tu tema aqui</li>
                            <li> Pon tu tema aqui</li>
                            <li> Pon tu tema aqui</li>
                            <li> Pon tu tema aqui</li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="container-menu-course container-table-content mt-lg-3 rounded-3 p-4">
                <h5 class="text-primary font-ubuntu-bold"> Contenido</h5>

                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Accordion Item #1
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the first item's accordion body.</strong> It is shown by default, until
                                the collapse plugin adds the appropriate classes that we use to style each element.
                                These classes control the overall appearance, as well as the showing and hiding via CSS
                                transitions. You can modify any of this with custom CSS or overriding our default
                                variables. It's also worth noting that just about any HTML can go within the
                                <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Accordion Item #2
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the second item's accordion body.</strong> It is hidden by default,
                                until the collapse plugin adds the appropriate classes that we use to style each
                                element. These classes control the overall appearance, as well as the showing and hiding
                                via CSS transitions. You can modify any of this with custom CSS or overriding our
                                default variables. It's also worth noting that just about any HTML can go within the
                                <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Accordion Item #3
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the third item's accordion body.</strong> It is hidden by default, until
                                the collapse plugin adds the appropriate classes that we use to style each element.
                                These classes control the overall appearance, as well as the showing and hiding via CSS
                                transitions. You can modify any of this with custom CSS or overriding our default
                                variables. It's also worth noting that just about any HTML can go within the
                                <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-auto col-md-5 mt-sm-3 container-general-information-price-1">
            <div class="container-information-course-general-2  rounded-3 p-3">
                <h5 class="font-ubuntu-bold text-secondary">Para este curso vas a necesitar:</h5>
                <div class="container-hours-course">
                    <p class="font-ubuntu-normal text-secondary">
                        <span class="text-info fw-bold">0</span> horas de Contenido. <br>
                        <span class="text-info fw-bolder">0</span> horas de Practica.
                    </p>
                </div>
                <div class="container-information-course">
                    <p class="text-secondary fw-bolder">
                        Conocimientos Previos: <br>
                        <span class="text-info"> Sin conocimientos Previos</span>

                    </p>

                    <p class="text-secondary fw-bold">
                        Software a utilizar: <br>
                        <span class="text-info"> Ninguno</span> <br>
                    </p>

                </div>

                <div class="container-course-price">

                    <div class="span-price configuration d-flex justify-content-center align-items-center">
                        <span class="text-secondary font-ubuntu-bold span-style-configuration ms-1">$0.00/Mex</span>
                    </div>


                    <div class="codigo-bienvenida mt-2 d-flex flex-column align-items-center">
                        <p class="font-ubuntu-bold text-primary">Codigo de Descuento:</p>

                        <div class="input-group mb-3 input-style-configuration d-flex justify-content-center align">
                            <input type="text" class="for
                        }m-control-sm" placeholder="Recipient's username" aria-label="Recipient's username"
                                aria-describedby="button-addon2">
                            <button class="btn btn-outline-primary" type="button" id="button-addon2">Canjear</button>
                        </div>
                    </div>

                    <div class="button-style-configuration d-flex align-items-center justify-content-center p-static">
                        <button class="btn btn-primary btn-md">Comprar</button>
                    </div>

                </div>

            </div>

        </div>



    </div>

</div>

















<!-- <div class="container">
    <div class="container text-center">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 container-table-content">
                <h5 class="text-primary font-ubuntu-bold">¿Que Aprenderas del Curso?</h5>

                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-form-correct">
                            <li> Pon tu tema aqui</li>
                            <li> Pon tu tema aqui</li>
                            <li> Pon tu tema aqui</li>
                            <li> Pon tu tema aqui</li>
                        </ul>
                    </div>

                    <div class="col-md-6">
                        <ul class="list-form-correct">
                            <li> Pon tu tema aqui</li>
                            <li> Pon tu tema aqui</li>
                            <li> Pon tu tema aqui</li>
                            <li> Pon tu tema aqui</li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="container-information-course-general-2  rounded-3 p-3">
                    <h5 class="font-ubuntu-bold text-secondary">Para este curso vas a necesitar:</h5>
                    <div class="container-hours-course position-static">
                        <p class="font-ubuntu-normal text-secondary">
                            <span class="text-info fw-bold">0</span> horas de Contenido. <br>
                            <span class="text-info fw-bolder">0</span> horas de Practica.
                        </p>
                    </div>
                    <div class="container-information-course">
                        <p class="text-secondary fw-bolder">
                            Conocimientos Previos: <br>
                            <span class="text-info"> Sin conocimientos Previos</span>

                        </p>

                        <p class="text-secondary fw-bold">
                            Software a utilizar: <br>
                            <span class="text-info"> Ninguno</span> <br>
                        </p>

                    </div>

                    <div class="container-course-price">

                        <div class="span-price configuration d-flex justify-content-center align-items-center">
                            <span class="text-secondary font-ubuntu-bold span-style-configuration ms-1">$0.00/Mex</span>
                        </div>


                        <div class="codigo-bienvenida mt-2 d-flex flex-column align-items-center">
                            <p class="font-ubuntu-bold text-primary">Codigo de Descuento:</p>

                            <div class="input-group mb-3 input-style-configuration d-flex justify-content-center align">
                                <input type="text" class="for
                        }m-control-sm" placeholder="Recipient's username" aria-label="Recipient's username"
                                    aria-describedby="button-addon2">
                                <button class="btn btn-outline-primary" type="button"
                                    id="button-addon2">Canjear</button>
                            </div>
                        </div>

                        <div
                            class="button-style-configuration d-flex align-items-center justify-content-center p-static">
                            <button class="btn btn-primary btn-md">Comprar</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</div> -->