<!--*Presentation Of the Course-->

<div class="container-fluid bg-dark p-4">
    <div class="row">
        <div class="col-lg-6 mt-4">
            <h4 class="text-light font-ubuntu-bold pt-3"> Nombre del Curso</h4>
            <p class="text-light  font-ubuntu-normal"> Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Voluptate tempore
                cupiditate, officiis odit, ea corrupti voluptas possimus iure labore fugit hic corporis quam esse
                assumenda quia aspernatur veniam aut enim?</p>

            <div class="container-stars-califications text-center  mb-2">

                <span class="text-light me-1" id="calification-star">0.0</span>
                <span class="span-start-container" id="star1">★</span>

                <span class="span-start-container" id="star2">★</span>

                <span class="span-start-container" id="star3">★</span>

                <span class="span-start-container" id="star4">★</span>

                <span class="span-start-container" id="star5">★</span>
            </div>

            <div class="container-information ">

                <p class="text-color-information-main ms-3">Creado por:
                    <span id="name_autor" class="text-light">Name</span>
                </p>

                <p class="text-color-information-main ms-3">Ultima Actualizacion:
                    <span id="date-actualization" class="text-light">Date</span>
                </p>

                <p class="text-color-information-main ms-3">Numero de Alumnos inscritos:
                    <span class="text-light">0</span>
                </p>

                <p class="text-color-information-main ms-3">Idioma:
                    <span class="text-light">Español</span>
                </p>

            </div>

        </div>


        <div class="col-lg-6 container-video-main">
            <video class="container-video-introduction" poster="/assets/img/HTML.jpg" controls autoplay muted>
                <source id="video_course_introduction" src="/assets/img/HTML_course.mp4" type="video/mp4">
            </video>
        </div>


    </div>
</div>


<!--*Information of the course-->
<div class="container-lg">
    <div class="row">
        <!--*Temas-->
        <div class="col-lg-7 col-md-6">
            <div class="container-temas-course container-table-content p-2 rounded-3 mt-2">
                <h4 class="text-primary font-ubuntu-bold text-center">¿Que veras en el Curso?</h4>
                <div class="row mt-2">
                    <div class="col-sm-4 w-100">
                        <ul class="list-form-correct">
                            <li> Pon tu tema aqui</li>
                            <li> Pon tu tema aqui</li>
                            <li> Pon tu tema aqui</li>
                            <li> Pon tu tema aqui</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="container-menu-course container-table-content  rounded-3 p-3">
                <h4 class="text-primary font-ubuntu-bold text-center mb-2"> Contenido</h4>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button font-ubuntu-bold" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Tema 1
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <ul class="list-form-video style-links-videos">
                                    <li>
                                        <div class="container-link-information">
                                            <a href="#">
                                                <p class="font-ubuntu-normal text-secondary">
                                                    Tema 1
                                                    <span
                                                        class="font-ubuntu-normal text-primary hours-style-span">00:00</span>
                                                </p>
                                            </a>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="container-link-information">
                                            <a href="#">
                                                <p class="font-ubuntu-normal text-secondary">
                                                    Tema 2
                                                    <span
                                                        class="font-ubuntu-normal text-primary hours-style-span">00:00</span>
                                                </p>
                                            </a>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="container-link-information">
                                            <a href="#">
                                                <p class="font-ubuntu-normal text-secondary">
                                                    Tema 3
                                                    <span
                                                        class="font-ubuntu-normal text-primary hours-style-span">00:00</span>
                                                </p>
                                            </a>
                                        </div>

                                    </li>

                                    <li>
                                        <div class="container-link-information">
                                            <a href="#">
                                                <p class="font-ubuntu-normal text-secondary">
                                                    Tema 4
                                                    <span
                                                        class="font-ubuntu-normal text-primary hours-style-span">00:00</span>
                                                </p>
                                            </a>
                                        </div>

                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed font-ubuntu-bold" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                                aria-controls="collapseTwo">
                                Tema 2
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="accordion-body">
                                    <ul class="list-form-video style-links-videos">
                                        <li>
                                            <div class="container-link-information">
                                                <a href="#">
                                                    <p class="font-ubuntu-normal text-secondary">
                                                        Tema 1
                                                        <span
                                                            class="font-ubuntu-normal text-primary hours-style-span">00:00</span>
                                                    </p>
                                                </a>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="container-link-information">
                                                <a href="#">
                                                    <p class="font-ubuntu-normal text-secondary">
                                                        Tema 2
                                                        <span
                                                            class="font-ubuntu-normal text-primary hours-style-span">00:00</span>
                                                    </p>
                                                </a>
                                            </div>
                                        </li>

                                        <li>
                                            <div class="container-link-information">
                                                <a href="#">
                                                    <p class="font-ubuntu-normal text-secondary">
                                                        Tema 3
                                                        <span
                                                            class="font-ubuntu-normal text-primary hours-style-span">00:00</span>
                                                    </p>
                                                </a>
                                            </div>

                                        </li>

                                        <li>
                                            <div class="container-link-information">
                                                <a href="#">
                                                    <p class="font-ubuntu-normal text-secondary">
                                                        Tema 4
                                                        <span
                                                            class="font-ubuntu-normal text-primary hours-style-span">00:00</span>
                                                    </p>
                                                </a>
                                            </div>

                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed font-ubuntu-bold" type="button"
                                data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                                aria-controls="collapseThree">
                                Tema 3
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <ul class="list-form-video style-links-videos">
                                    <li>
                                        <div class="container-link-information">
                                            <a href="#">
                                                <p class="font-ubuntu-normal text-secondary">
                                                    Tema 1
                                                    <span
                                                        class="font-ubuntu-normal text-primary hours-style-span">00:00</span>
                                                </p>
                                            </a>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="container-link-information">
                                            <a href="#">
                                                <p class="font-ubuntu-normal text-secondary">
                                                    Tema 2
                                                    <span
                                                        class="font-ubuntu-normal text-primary hours-style-span">00:00</span>
                                                </p>
                                            </a>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="container-link-information">
                                            <a href="#">
                                                <p class="font-ubuntu-normal text-secondary">
                                                    Tema 3
                                                    <span
                                                        class="font-ubuntu-normal text-primary hours-style-span">00:00</span>
                                                </p>
                                            </a>
                                        </div>

                                    </li>

                                    <li>
                                        <div class="container-link-information">
                                            <a href="#">
                                                <p class="font-ubuntu-normal text-secondary">
                                                    Tema 4
                                                    <span
                                                        class="font-ubuntu-normal text-primary hours-style-span">00:00</span>
                                                </p>
                                            </a>
                                        </div>

                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-5 col-md-6">
            <!--*Information of the Course Price-->
            <div class="container-general-information-price-1 align-items-center container-menu-course">
                <div class="container-information-course-general-2  rounded-3 p-3">
                    <h5 class="font-ubuntu-bold text-secondary">Para este curso vas a necesitar:</h5>
                    <div class="container-hours-course">
                        <p class="font-ubuntu-normal text-secondary">
                            <span class="text-info fw-bold">0</span> horas de Contenido. <br>
                            <span class="text-info fw-bolder">0</span> horas de Practica.
                        </p>
                    </div>
                    <div class="container-information-course text-center">
                        <p class="text-secondary fw-bolder">
                            Conocimientos Previos: <br>
                            <span class="text-info"> Sin conocimientos Previos</span>
                        </p>

                        <p class="text-secondary fw-bold">
                            Software a utilizar: <br>
                            <span class="text-info"> Ninguno</span> <br>
                        </p>

                    </div>

                    <div class="container-course-price">

                        <div class="span-price configuration text-center">
                            <span class="text-secondary font-ubuntu-bold span-style-configuration ms-1">$0.00/Mex</span>
                        </div>


                        <div class="codigo-bienvenida mt-2 text-center">
                            <p class="font-ubuntu-bold text-primary">Codigo de Descuento:</p>

                            <div class="input-group mb-3 input-style-configuration">
                                <input  type="text" class="input-style-group form-control-sm"
                                    placeholder="Codigo de Recompensa" aria-label="Recipient's username"
                                    aria-describedby="button-addon2" id="input_codesc">
                                    
                                <button class="btn btn-outline-primary" type="button"
                                    id="button-addon2">Canjear</button>
                            </div>
                        </div>

                        <div class="button-style-configuration d-flex justify-content-center">
                            <button class="btn btn-primary btn-md">Comprar</button>
                        </div>

                    </div>

                </div>


            </div>



        </div>



        <div class="row">
            <div class="col-lg-7 col-md-6">

                <!--*Information in the Docent-->

                <div class="container-docent-course">
                    <h5 class="text-primary text-center font-ubuntu-bold mt-4">Instructor del Curso</h5>
                    <div class="container-image-docent">
                        <h6 class="text-secondary text-center font-ubuntu-bold"> Nombre del Docente</h6>
                        <div class="information-contact-docent">

                            <ul class="list-form-verificado text-primary font-ubuntu-normal">
                                <li>
                                    <p>
                                        Calificacion del Instructor: <span class="text-success">0.0</span>
                                    </p>

                                </li>
                                <li>
                                    <p>
                                        <span class="text-success">0</span> Reseñas
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span class="text-success">0</span> Alumnos
                                    </p>
                                </li>
                                <li>
                                    <p>
                                        <span class="text-success">0</span> Cursos
                                    </p>
                                </li>


                            </ul>

                            <div class="img-docent-perfil">
                                <img src="/assets/img/persona-e1533759204552.jpg" class="image-instructor-perfil"
                                    alt=" No disponible">
                            </div>
                        </div>
                        <div class="information-container-docent">
                            <h6 class="text-primary font-ubuntu-bold text-start">Sobre mi</h6>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima repellendus dolor iusto
                                nulla
                                eos mollitia id sit, quam aliquam reprehenderit accusamus, facere sed soluta ut
                                cupiditate
                                labore? Corrupti, fugit debitis?</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-lg-5">

                <div class="container-courses-recommend container-table-content rounded-3 p-2 mt-2">
                    <h5 class="text-center font-ubuntu-bold text-primary">Cursos que te pueden Interesar</h5>
                    <div class="container-courses-recommend d-flex flex-column">
                        <div class="subcontainers-course-content p-1 rounded-2 d-flex flex-row">
                            <img src="/assets/img/cursos-online-gratuitos-seguridad-informática.jpg"
                                class="img-preview-course">
                            <div class=" ms-2 subcontainer-information-course-recommend">
                                <h6 class="text-secondary text-start font-ubuntu-bold">Nombre del Curso</h6>
                                <p class="font-ubuntu-normal text-start text-secondary">
                                    Creado por: <span class="text-primary font-ubuntu-normal">Name</span>
                                </p>
                                <div class="container-categoria-course bg-success  text-center">
                                    <p class="text-light text-center font-ubuntu-bold">Estado del Curso </p>

                                </div>
                            </div>
                            <div class="container-information-course-recommend-2 ms-1">
                                <p class="text-start text-success font-ubuntu-bold">Calificacion: <span>0.0</span></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>


    </div>


    <div class="container-lg">
        <div class="row">
            <!--*Zona de Comments-->
            <div class="col-lg-7 col-sm-6 mt-1 ms-1">
                <div class="container-comments container-table-content p-3 rounded-3 d-flex flex-column">
                    <h5 class="text-secondary text-start font-ubuntu-bold">Comentarios</h5>

                    <div class="img-user-perfil-container">
                        <img src="/assets/img/featureuserpersona-810x810.jpg" class="image-user-perfil"
                            alt=" No disponible">
                        <div class="container-textarea ms-3">
                            <label for="exampleFormControlTextarea1"
                                class="form-label font-ubuntu-normal text-primary fw-bold">Nombre del
                                Usuario</label>
                            <textarea class="form-control textarea-style-comments" id="exampleFormControlTextarea1"
                                rows="1"></textarea>
                        </div>
                    </div>

                    <div class="container-buttons-comments d-flex justify-content-end">
                        <div class="subcontainer-comments-buttons mt-2">
                            <button type="button" class="btn btn-success btn-sm text-light font-ubuntu-normal me-sm-2">
                                Cancelar
                            </button>

                            <button type="button" class="btn btn-danger btn-sm text-light font-ubuntu-normal">
                                Comentar
                            </button>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>





    <!-- <div class="container-comments-users">
                    <div class="img-user-perfil">
                        <img src="/assets/img/featureuserpersona-810x810.jpg" class="image-user-perfil"
                            alt=" No disponible">
                    </div>

                        <div class="container-name-user">
                            <h6 class="text-start font-ubuntu-normal text-style-user">Nombre del Usuario</h6>
                            <div class="input-group input-group-sm mb-3 mt-2 ms-2">
                                <input type="text" class="form-control" aria-label="Sizing example input"
                                    aria-describedby="inputGroup-sizing-sm">
                            </div>
                        </div>

                        
                </div> -->



















































    <!--*Information of the Course-->

    <!-- <div class="container-lg">
    <div class="row">
        <div class="col-lg-4 col-md-4 mt-2">
            <div class="container-md container-table-content rounded-3 p-3">
                <h5 class="text-primary font-ubuntu-bold">¿Que Aprenderas del Curso?</h5>

                <div class="row">
                    <div class="col-sm-12">
                        <ul class="list-form-correct">
                            <li> Pon tu tema aqui</li>
                            <li> Pon tu tema aqui</li>
                            <li> Pon tu tema aqui</li>
                            <li> Pon tu tema aqui</li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="container-menu-course container-table-content mt-lg-3 rounded-3 p-4">
                <h5 class="text-primary font-ubuntu-bold"> Contenido</h5>

                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                Accordion Item #1
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the first item's accordion body.</strong> It is shown by default, until
                                the collapse plugin adds the appropriate classes that we use to style each element.
                                These classes control the overall appearance, as well as the showing and hiding via CSS
                                transitions. You can modify any of this with custom CSS or overriding our default
                                variables. It's also worth noting that just about any HTML can go within the
                                <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Accordion Item #2
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the second item's accordion body.</strong> It is hidden by default,
                                until the collapse plugin adds the appropriate classes that we use to style each
                                element. These classes control the overall appearance, as well as the showing and hiding
                                via CSS transitions. You can modify any of this with custom CSS or overriding our
                                default variables. It's also worth noting that just about any HTML can go within the
                                <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Accordion Item #3
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <strong>This is the third item's accordion body.</strong> It is hidden by default, until
                                the collapse plugin adds the appropriate classes that we use to style each element.
                                These classes control the overall appearance, as well as the showing and hiding via CSS
                                transitions. You can modify any of this with custom CSS or overriding our default
                                variables. It's also worth noting that just about any HTML can go within the
                                <code>.accordion-body</code>, though the transition does limit overflow.
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="col-lg-4 col-md-4 col-sm-auto mt-3 align-items-center container-general-information-price-1">
            <div class="container-information-course-general-2  rounded-3 p-3">
                <h5 class="font-ubuntu-bold text-secondary">Para este curso vas a necesitar:</h5>
                <div class="container-hours-course">
                    <p class="font-ubuntu-normal text-secondary">
                        <span class="text-info fw-bold">0</span> horas de Contenido. <br>
                        <span class="text-info fw-bolder">0</span> horas de Practica.
                    </p>
                </div>
                <div class="container-information-course text-center">
                    <p class="text-secondary fw-bolder">
                        Conocimientos Previos: <br>
                        <span class="text-info"> Sin conocimientos Previos</span>
                    </p>

                    <p class="text-secondary fw-bold">
                        Software a utilizar: <br>
                        <span class="text-info"> Ninguno</span> <br>
                    </p>

                </div>

                <div class="container-course-price">

                    <div class="span-price configuration text-center">
                        <span class="text-secondary font-ubuntu-bold span-style-configuration ms-1">$0.00/Mex</span>
                    </div>


                    <div class="codigo-bienvenida mt-2 text-center">
                        <p class="font-ubuntu-bold text-primary">Codigo de Descuento:</p>

                        <div class="input-group mb-3 input-style-configuration">
                            <input type="text" class="input-style-group form-control-sm" placeholder="Codigo de Recompensa" aria-label="Recipient's username"
                                aria-describedby="button-addon2">
                            <button class="btn btn-outline-primary" type="button" id="button-addon2">Canjear</button>
                        </div>
                    </div>

                    <div class="button-style-configuration d-flex justify-content-center">
                        <button class="btn btn-primary btn-md">Comprar</button>
                    </div>

                </div>

            </div>

        </div>



    </div>

</div> -->

















    <!-- <div class="container">
    <div class="container text-center">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12 container-table-content">
                <h5 class="text-primary font-ubuntu-bold">¿Que Aprenderas del Curso?</h5>

                <div class="row">
                    <div class="col-md-6">
                        <ul class="list-form-correct">
                            <li> Pon tu tema aqui</li>
                            <li> Pon tu tema aqui</li>
                            <li> Pon tu tema aqui</li>
                            <li> Pon tu tema aqui</li>
                        </ul>
                    </div>

                    <div class="col-md-6">
                        <ul class="list-form-correct">
                            <li> Pon tu tema aqui</li>
                            <li> Pon tu tema aqui</li>
                            <li> Pon tu tema aqui</li>
                            <li> Pon tu tema aqui</li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="container-information-course-general-2  rounded-3 p-3">
                    <h5 class="font-ubuntu-bold text-secondary">Para este curso vas a necesitar:</h5>
                    <div class="container-hours-course position-static">
                        <p class="font-ubuntu-normal text-secondary">
                            <span class="text-info fw-bold">0</span> horas de Contenido. <br>
                            <span class="text-info fw-bolder">0</span> horas de Practica.
                        </p>
                    </div>
                    <div class="container-information-course">
                        <p class="text-secondary fw-bolder">
                            Conocimientos Previos: <br>
                            <span class="text-info"> Sin conocimientos Previos</span>

                        </p>

                        <p class="text-secondary fw-bold">
                            Software a utilizar: <br>
                            <span class="text-info"> Ninguno</span> <br>
                        </p>

                    </div>

                    <div class="container-course-price">

                        <div class="span-price configuration d-flex justify-content-center align-items-center">
                            <span class="text-secondary font-ubuntu-bold span-style-configuration ms-1">$0.00/Mex</span>
                        </div>


                        <div class="codigo-bienvenida mt-2 d-flex flex-column align-items-center">
                            <p class="font-ubuntu-bold text-primary">Codigo de Descuento:</p>

                            <div class="input-group mb-3 input-style-configuration d-flex justify-content-center align">
                                <input type="text" class="for
                        }m-control-sm" placeholder="Recipient's username" aria-label="Recipient's username"
                                    aria-describedby="button-addon2">
                                <button class="btn btn-outline-primary" type="button"
                                    id="button-addon2">Canjear</button>
                            </div>
                        </div>

                        <div
                            class="button-style-configuration d-flex align-items-center justify-content-center p-static">
                            <button class="btn btn-primary btn-md">Comprar</button>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

</div> -->